[package]
name = "ion-code-gen"
version = "0.1.0"
edition = "2021"
description = "Generated library with ion data model"

[dependencies]
ion-rs = {version = "1.0.0-rc.2", features = ["experimental"]}

